if UIMessages
    div(class=`feedback${req.formPosted ? ' feedback--posted' : ''}`)#feedback-form
        .feedback__wrapper
            h2.feedback__heading !{UIMessages.feedback_form___heading.value}
            .feedback__answer
                a.feedback__button.feedback__button--yes(href='#yesMsg') 
                    span !{UIMessages.feedback_form___yes_button.value}
                    span
                a.feedback__button.feedback__button--no(href='#noMsg') 
                    span !{UIMessages.feedback_form___no_button.value}
                    span
            .feedback-form__response
                .feedback__message#yesMsg.feedback__message--yes !{UIMessages.feedback_form___yes_message.value}