mixin error(name)
    .form__error(data-form-error=name)
mixin input(type, id, label, className)
    div(class=`form__row${className ? ' ' + className : '' }`)
        input.form__input(id=id, name=id, type=type)
        if label
            label.form__label(for=id) #{label}
        +error(id)
mixin textarea(id, label)
    .form__row
        textarea.form__input.form__input--textarea(id=id, name=id, required='required')
        if label
            label.form__label(for=id) #{label}
        +error(id)
if UIMessages
    div(class=`feedback${req.formPosted ? ' feedback--posted' : ''}`)#feedback-form
        .feedback__wrapper
            h2.feedback__heading !{UIMessages.feedback_form___heading.value}
            .feedback__answer
                a.feedback__button.feedback__button--yes(href='#yesMsg') !{UIMessages.feedback_form___yes_button.value}
                a.feedback__button.feedback__button--no(href='#noMsg') !{UIMessages.feedback_form___no_button.value}
            .feedback__response
                .feedback__message#yesMsg.feedback__message--yes !{UIMessages.feedback_form___yes_message.value}
                .feedback__message#noMsg.feedback__message--no !{UIMessages.feedback_form___no_message.value}
            form.feedback__form.form
                +textarea('feedback', UIMessages.feedback_form___feedback_label.value)
                +input('email', 'email', UIMessages.feedback_form___email_label.value)
                .form__row
                    .form__recaptcha-disabled
                    #g-recaptcha-placeholder
                    +error('g-recaptcha-response')
                .form__row.form__row--btn
                    button.form__button !{UIMessages.feedback_form___submit_button.value}
    if process.env['Recaptcha-v2.site']
        #recaptcha-script(data-site=process.env['Recaptcha-v2.site'])