- var isNotHome = req.originalUrl.replace(/\?.*$/, '') !== '/'
.print-only
    img.logo(src='/img/ui/logo.png', alt='Kentico Kontent Docs logo')
nav.navigation
    .navigation__wrapper
        .navigation__left
            .navigation__logo-wrapper
                a.navigation__logo(href='/', rel='noreferrer')
                    img(src='/img/ui/logo.svg', alt='Kentico Kontent Docs logo')
            ul(class= `navigation__list${isNotHome ? '' : ' navigation__list--full'}`)
                each item in navigation
                    li.navigation__item
                        a(href=`${item.system.type === 'navigation_link' ? '' : '/'}${item.url.value}`, class=`navigation__link${req.originalUrl.startsWith(`/${item.url.value}`) ? ' navigation__link--active' : ''}`) !{item.title.value}
                li.navigation__item
                    if (req.user)
                        a.navigation__link(href="/logout") Log out
                    else
                        a.navigation__link(href="/login") Log in
        .navigation__right(data-search-target='')
            if isNotHome
                .navigation__search-wrapper
                    form.navigation__search
                        .navigation__search-icon(aria-hidden='true')
                        label.sr-only(for='nav-search') !{UIMessages ? UIMessages.search___placeholder.value : ''}
                        input(type='search', id='nav-search', name='nav-search', autocomplete="off", placeholder= UIMessages ? UIMessages.search___placeholder.value : '')
                    #searchbox
            a.navigation__app(href='https://app.kontent.ai', target='_blank', rel='noreferrer')
                .navigation__app-tooltip !{UIMessages ? UIMessages.link_to_app_tooltip.value : ''}
        if isNotHome
            .navigation__trigger(data-search-trigger='', aria-hidden='true')
