.print-only
    img.logo(src='/img/kc-logo.png', alt='Kentico Cloud logo')
nav.navigation
    .navigation__wrapper
        .navigation__left
            a.navigation__logo(href='/')
                img(src='/img/kc-logo.svg', alt='Kentico Cloud logo')
            ul.navigation__list
                each item in navigation
                    li.navigation__item
                        a(href=`/${item.url.value}`, class=`navigation__link${req.originalUrl.startsWith(`/${item.url.value}`) ? ' navigation__link--active' : ''}`) !{item.title.value}
        .navigation__right(data-toggle-target='search')
            if(req.originalUrl !== '/' && req.originalUrl !== '/design/home')
                .navigation__search-wrapper
                    form.navigation__search
                        .navigation__search-icon(aria-hidden='true')
                        label.sr-only(for='nav-search') !{UIMessages ? UIMessages.search___placeholder.value : ''}
                        input(type='search', id='nav-search', name='nav-search', autocomplete="off", placeholder= UIMessages ? UIMessages.search___placeholder.value : '')
                    #searchbox
            a.navigation__app(href='https://app.kenticocloud.com', target='_blank', title= UIMessages ? UIMessages.link_to_app_tooltip.value : '')
                i.icon-arrow-enter-square
        if(req.originalUrl !== '/' && req.originalUrl !== '/design/home')
            .navigation__trigger(data-toggle-trigger='search', aria-hidden='true')
