.article__sub-navigation-trigger(data-toggle-trigger='sub-navigation', aria-hidden='true')
ul.sub-navigation.sub-navigation--level-1.sub-navigation--top(data-toggle-target='sub-navigation')
    if subNavigation.length > 1
        each item in subNavigation
            if (item.url.value && (item.title || item.short_title))
                li.sub-navigation__item
                    a(href=`/${parentSlug}/${item.url.value}`, class=`sub-navigation__link${slug === item.url.value ? ' sub-navigation__link--active' : ''}`) !{item.short_title && item.short_title.value ? item.short_title.value : item.title.value}
                    //-if ((subNavigationLevels[0] === scenario.url.value) && scenario.children)
                        ul.sub-navigation.sub-navigation--level-2
                            each topic in scenario.children
                                li.sub-navigation__item
                                    a(href=`#`, class=`sub-navigation__link${subNavigationLevels[1] === topic.url.value ? ' sub-navigation__link--active sub-navigation__link--on-path' : ''}`) !{topic.title.value}
                                    ul.sub-navigation.sub-navigation--level-3
                                        each article in topic.children
                                            if (article.visibility && !article.visibility.value.filter(item => item.codename === 'excluded_from_navigation').length)
                                                li.sub-navigation__item
                                                    a(href=`/${req.params.main}/${scenario.url.value}/${topic.url.value}/${article.url.value}${selectedPlatform && article.platform.value.length ? '?tech=' + selectedPlatform : ''}`, class=`sub-navigation__link${subNavigationLevels[2] === article.url.value ? ' sub-navigation__link--active' : ''}`)&attributes(article.platform.value.length ? {'data-lang': ''} : {}) !{article.short_title.value ? article.short_title.value : article.title.value}
                                            if (article.system.type === 'multiplatform_article')
                                                li.sub-navigation__item
                                                    a(href=`/${req.params.main}/${scenario.url.value}/${topic.url.value}/${article.url.value}${selectedPlatform ? '?tech=' + selectedPlatform : ''}`, class=`sub-navigation__link${subNavigationLevels[2] === article.url.value ? ' sub-navigation__link--active' : ''}`, data-lang='') !{article.title.value}