extends ../../tutorials/includes/layout.pug
block content
    main(id='main')
        .article
            .article__left
                include ../includes/sub-navigation.pug
            .article__right
                div(class=`article__content${containsReleaseNote ? ' article__content--anchors-only' : ''}`)
                    h1 !{content.title.value}
                    if (!containsReleaseNote || isPreview)
                        .article__notes
                            if (!containsReleaseNote)
                                time.article__date(datetime= moment(content.system.lastModified).format('YYYY-MM-DD')) !{moment(content.system.lastModified).format('MMMM D, YYYY')}
                                .article__author 
                                    if (content.author.value && content.author.value.length)
                                        | !{content.author.value[0].name.value}
                                    else
                                        | !{UIMessages.article___no_author.value}
                            if (isPreview || isKenticoIP)
                                a(href=`https://app.kontent.ai/goto/edit-item/project/${projectId}/variant-codename/default/item/${content.system.id}`, target='_blank', rel='noopener') Edit
                    if (containsReleaseNote && releaseNoteContentType)
                        div(data-aside-container='filter')
                            .article__filter(data-aside='filter')
                                .filter
                                    ul.filter__list.filter__list--toggle(data-filter-group='changes')
                                        li.filter__item(data-filter='.all_changes') !{UIMessages && UIMessages.toggle_all_changes.value}
                                        li.filter__item(data-filter='.breaking_change') !{UIMessages && UIMessages.toggle_breaking_changes_only.value}

                                .filter
                                    .filter-label !{UIMessages && UIMessages.affected_services_selector_title.value}
                                    ul.filter__list(data-filter-group='services')
                                        each item, index in releaseNoteContentType.elements.filter(elem => elem.codename === 'affected_services')[0].options
                                            li.filter__item(data-toggle=`.${item.codename}`) !{item.name}

                    if (platform && !availablePlatforms.length)
                        div(data-aside-container='language-selector')
                            div(data-aside='language-selector')
                                .language-selector
                                    label.language-selector__fixed-label !{UIMessages.technology_selector_label.value}
                                    .language-selector__label
                                    ul.language-selector__list
                                        each item in platform
                                            li.language-selector__item
                                                a(href=`#`, data-platform=item.codename, data-slug=item.slug, data-dpr, data-icon=item.icon, class=`language-selector__link`) #{item.title}
                    if (availablePlatforms && availablePlatforms.length)
                        div(data-aside-container='language-selector')
                            div(data-aside='language-selector')
                                .language-selector
                                    label.language-selector__fixed-label !{UIMessages.technology_selector_label.value}
                                    .language-selector__label
                                    ul.language-selector__list.language-selector__list--static
                                        - var highlighIndex = 0; availablePlatforms.forEach((item, index) => { if (preselectedPlatform === item.slug) { highlighIndex = index } });
                                        each item, index in availablePlatforms
                                            li.language-selector__item
                                                a(href=`${req.path}?tech=${item.slug}`, data-dpr, data-icon=item.icon, class=`language-selector__link${index === highlighIndex ? ' language-selector__link--active' : ''}`) #{item.title}
                    if (introduction && introduction !== '<p><br></p>')
                        | !{minify(introduction)}
                    if (!containsReleaseNote)
                        div(data-aside-container='table-of-contents')
                            div(data-aside='table-of-contents')
                                include ../../tutorials/includes/table-of-contents.pug
                    if (content && content.content && content.content.value)
                        if (containsReleaseNote)
                            .container 
                                | !{minify(content.content.value)}
                            .mixitup-page-list
                        else
                            | !{minify(content.content.value)}
                    if (nextSteps && nextSteps.value !== '<p><br></p>')
                        h2.table-of-contents__whatsnext !{UIMessages && UIMessages.article___next_steps.value}
                        | !{minify(nextSteps.value)}
                    if (!containsReleaseNote)
                        div(data-aside-container='feedback')
                            div(data-aside='feedback')
                                include ../../tutorials/includes/feedback.pug
            aside.article__aside
                .aside
    include ../../tutorials/includes/feedback-form.pug