extends ../../tutorials/includes/layout.pug
block content
    main(id='main')
        .article
            .article__left
                include ../includes/sub-navigation.pug
            .article__right
                div(class=`article__content${containsChangelog ? ' article__content--anchors-only' : ''}`)
                    if termDefinitions
                        .term-tooltip-container(aria-hidden='true')
                            .term-tooltip-content
                            .term-tooltip-close
                            .term-tooltip-arrow
                    h1 !{content.title.value}
                    if (!containsChangelog || isPreview)
                        .article__notes
                            if (!containsChangelog)
                                if (!hideAuthorLastModified)
                                    time.article__date(datetime= moment(content.system.lastModified).format('YYYY-MM-DD')) !{moment(content.system.lastModified).format('MMMM D, YYYY')}
                                    .article__author 
                                        if (content.author.value && content.author.value.length)
                                            | !{content.author.value[0].name.value}
                                        else
                                            | !{UIMessages.article___no_author.value}
                                if (req.query.pdf)
                                    .article__tech(data-platform-note)
                            if ((isPreview || isKenticoIP) && !req.query.pdf)
                                a(href=`https://app.kontent.ai/goto/edit-item/project/${projectId}/variant-codename/default/item/${content.system.id}`, target='_blank', rel='noopener') Edit
                    if (containsChangelog && releaseNoteContentType)
                        div(data-aside-container='filter')
                            .article__filter(data-aside='filter')
                                .filter
                                    ul.filter__list.filter__list--toggle(data-filter-group='changes')
                                        li.filter__item(data-filter='.all_changes') !{UIMessages && UIMessages.toggle_all_changes.value}
                                        li.filter__item(data-filter='.breaking_change') !{UIMessages && UIMessages.toggle_breaking_changes_only.value}

                                .filter
                                    .filter-label !{UIMessages && UIMessages.affected_services_selector_title.value}
                                    ul.filter__list(data-filter-group='services')
                                        each item, index in releaseNoteContentType.elements.filter(elem => elem.codename === 'affected_services')[0].options
                                            li.filter__item(data-toggle=`.${item.codename}`) !{item.name}
                    if (containsTrainingCourse && trainingCourseContentType)
                        div XXXXX
                    if (platform && !availablePlatforms.length)
                        .language-selector.language-selector--unprocessed
                            ul.language-selector__list
                                each item in platform
                                    li.language-selector__item
                                        a(href=`#`, data-platform=item.codename, data-slug=item.slug, data-dpr, data-icon=item.icon, data-tech-tooltip=item.title, data-tech-tooltip-active='false', data-tech-tooltip-clicked=UIMessages.technology_picker_tooltip.value.replace('{TechnologyName}', item.title), class=`language-selector__link`)
                    if (availablePlatforms && availablePlatforms.length)
                        .language-selector.language-selector--unprocessed
                            ul.language-selector__list.language-selector__list--static
                                - var highlighIndex = 0; availablePlatforms.forEach((item, index) => { if (preselectedPlatform === item.slug) { highlighIndex = index } });
                                each item, index in availablePlatforms
                                    li.language-selector__item
                                        a(href=`${req.path}?tech=${item.slug}`, data-dpr, data-icon=item.icon, data-tech-tooltip=item.title, data-tech-tooltip-active='false', data-tech-tooltip-clicked=UIMessages.technology_picker_tooltip.value.replace('{TechnologyName}', item.title), class=`language-selector__link${index === highlighIndex ? ' language-selector__link--active' : ''}`)
                    if (introduction && introduction !== '<p><br></p>')
                        | !{minify(introduction)}
                    if (!containsChangelog)
                        div(data-aside-container='table-of-contents')
                            div(data-aside='table-of-contents')
                                include ../../tutorials/includes/table-of-contents.pug
                    if (content && content.content && content.content.value)
                        if (containsChangelog)
                            .container 
                                | !{minify(content.content.value)}
                            .mixitup-page-list
                        else
                            | !{minify(content.content.value)}
                    if (nextSteps && nextSteps.value !== '<p><br></p>')
                        h2.table-of-contents__whatsnext(id='a-whats-next') !{UIMessages && UIMessages.article___next_steps.value}
                        | !{minify(nextSteps.value)}
                    if (!containsChangelog && !hideFeedback)
                        div(data-aside-container='feedback')
                            div(data-aside='feedback')
                                include ../../tutorials/includes/feedback.pug
            aside.article__aside
                .aside
    if (!hideFeedback)
        include ../../tutorials/includes/feedback-form.pug