extends ../../tutorials/includes/layout.pug
block content
    main(id='main')
        .article
            .article__left
                include ../includes/sub-navigation.pug
            .article__right
                div(class=`article__content${containsReleaseNote ? ' article__content--anchors-only' : ''}`)
                    h1 !{content.title.value}
                    if (!containsReleaseNote || isPreview)
                        .article__notes
                            if (!containsReleaseNote)
                                time.article__date(datetime= moment(content.system.lastModified).format('YYYY-MM-DD')) !{moment(content.system.lastModified).format('MMMM D, YYYY')}
                                .article__author 
                                    if (content.author.value && content.author.value.length)
                                        | !{content.author.value[0].name.value}
                                    else
                                        | !{UIMessages.article___no_author.value}
                            if isPreview 
                                a(href=`https://app.kontent.ai/goto/edit-item/project/${projectId}/variant-codename/default/item/${content.system.id}`, target='_blank', rel='noopener') Edit
                    if (containsReleaseNote)
                        .article__filter(data-filter-selector='affected-services', data-filter-selector-label='Show changes for')
                    if (platform && !availablePlatforms.length)
                        .language-selector
                            ul.language-selector__list
                                each item in platform
                                    li.language-selector__item
                                        a(href=`#`, data-platform=item.codename, data-slug=item.slug, class=`language-selector__link`) #{item.title}
                    if (availablePlatforms && availablePlatforms.length)
                        .language-selector
                            ul.language-selector__list.language-selector__list--static
                                - var highlighIndex = 0; availablePlatforms.forEach((item, index) => { if (preselectedPlatform === item.slug) { highlighIndex = index } });
                                each item, index in availablePlatforms
                                    li.language-selector__item
                                        a(href=`${req.path}?tech=${item.slug}`, class=`language-selector__link${index === highlighIndex ? ' language-selector__link--active' : ''}`) #{item.title}
                    if (introduction && introduction !== '<p><br></p>')
                        | !{minify(introduction)}
                    if (!containsReleaseNote)
                        include ../../tutorials/includes/table-of-contents.pug
                    if (content && content.content && content.content.value)
                        | !{minify(content.content.value)}
                    if (nextSteps && nextSteps.value !== '<p><br></p>')
                        h2.table-of-contents__whatsnext !{UIMessages && UIMessages.article___next_steps.value}
                        | !{minify(nextSteps.value)}
                    include ../../tutorials/includes/feedback.pug
                    include ../../tutorials/includes/copy-tooltip.pug