meta(name='viewport', content='width=device-width, initial-scale=1')
meta(charset='utf-8')
if description
    meta(name='description', content=description.trim().replace(/\s+/g, ' '))
if !isPreview
    if (content && content.visibility && content.visibility.value.filter(item => item.codename === 'excluded_from_search').length)
        meta(name='robots', content='noindex')
    else 
        meta(name='robots', content='index,follow')
else
    meta(name='robots', content='noindex, nofollow')
link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700')
link(rel='stylesheet', href='/css/apireference.min.css?v=' + deployVersion)
link(rel='stylesheet', href='/kentico-icons.min.css?v=' + deployVersion)
if helper
    script var searchAPI={appid:"#{process.env['Search.AppId']}",apikey:"#{process.env['Search.ApiKey']}",indexname:"#{process.env['Search.IndexName']}"};
if UIMessages
    script var UIMessages={copyUrl:"#{UIMessages.heading___copy_url_hover.value}",copyUrlActive:"#{UIMessages.heading___copy_url_active.value}",searchNoResults:"#{UIMessages.search___no_results.value}",dntLabel:"#{helper.removeNewLines(UIMessages.embedded_content_dnt_notice.value)}",copyCode:"#{UIMessages.code_block___copy_code_button.value}",copyCodeActive:"#{UIMessages.code_block___copy_code_button_active.value}",cookieBar:"#{UIMessages.cookie_policy_bar.value}",technologyLabel:"#{UIMessages.technology_selector_label.value}"};
if platformsConfig
    script var platformsConfig=[
        each item, index in platformsConfig
            | {url:"#{item.url}",platform:"#{item.platform}"}
            if index < platformsConfig.length - 1
                | ,
        | ]
if (process.env['GTM.id'])
    script function initGTM(){(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','#{process.env['GTM.id']}');};
else 
    script function initGTM(){return false;}
script(src='https://cdn.jsdelivr.net/npm/algoliasearch@3.32.0/dist/algoliasearchLite.min.js', defer='')
script(src='https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js', defer='')
script(src='/js/apireference.min.js?v=' + deployVersion, defer='', onload='initGTM()')
if (process.env['Hotjar.id'])
    script (function(h,o,t,j,a,r){h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};h._hjSettings={hjid:#{process.env['Hotjar.id']},hjsv:6};a=o.getElementsByTagName('head')[0];r=o.createElement('script');r.async=1;r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;a.appendChild(r);})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
title !{title}!{titleSuffix}
if canonicalUrl
    link(rel='canonical', href=`${canonicalUrl}`)
link(rel='apple-touch-icon', sizes='57x57', href='/img/favicon/apple-icon-57x57.png')
link(rel='apple-touch-icon', sizes='60x60', href='/img/favicon/apple-icon-60x60.png')
link(rel='apple-touch-icon', sizes='72x72', href='/img/favicon/apple-icon-72x72.png')
link(rel='apple-touch-icon', sizes='76x76', href='/img/favicon/apple-icon-76x76.png')
link(rel='apple-touch-icon', sizes='114x114', href='/img/favicon/apple-icon-114x114.png')
link(rel='apple-touch-icon', sizes='120x120', href='/img/favicon/apple-icon-120x120.png')
link(rel='apple-touch-icon', sizes='144x144', href='/img/favicon/apple-icon-144x144.png')
link(rel='apple-touch-icon', sizes='152x152', href='/img/favicon/apple-icon-152x152.png')
link(rel='apple-touch-icon', sizes='180x180', href='/img/favicon/apple-icon-180x180.png')
link(rel='icon', type='image/png', sizes='192x192', href='/img/favicon/android-icon-192x192.png')
link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='96x96', href='/img/favicon/favicon-96x96.png')
link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon/favicon-16x16.png')
link(rel='manifest', href='/img/favicon/manifest.json')
meta(name='msapplication-TileColor', content='#ffffff')
meta(name='msapplication-TileImage', content='/img/favicon/ms-icon-144x144.png')
meta(name='theme-color', content='#ffffff')
meta(name='format-detection', content='telephone=no')
style.
    body,html {overflow-x: visible;}