extends ../includes/layout.pug
block content
    main(id='main')
        .article(data-display-mode=`${content.display_mode.value.length ? content.display_mode.value[0].name.toLowerCase() : 'one-page'}`)
            .article__left
                include ../includes/sub-navigation.pug
            .article__right
                .article__content
                    h1 !{content.title.value}
                    .article__notes
                        time.article__date(datetime= moment(content.system.lastModified).format('YYYY-MM-DD')) !{moment(content.system.lastModified).format('MMMM D, YYYY')}
                        .article__author 
                            if (content.author.value && content.author.value.length)
                                | !{content.author.value[0].name.value}
                            else
                                | !{UIMessages.article___no_author.value}
                        if isPreview 
                            a(href=`https://app.kontent.ai/goto/edit-item/project/${projectId}/variant-codename/default/item/${content.system.id}`, target='_blank', rel='noopener') Edit
                    if (platform && !availablePlatforms.length)
                        .language-selector
                            ul.language-selector__list
                                each item in platform
                                    li.language-selector__item
                                        a(href=`#`, data-platform=item.codename, data-slug=item.slug, data-icon=item.icon, class=`language-selector__link`) #{item.title}
                    if (availablePlatforms && availablePlatforms.length)
                        .language-selector
                            ul.language-selector__list.language-selector__list--static
                                - var highlighIndex = 0; availablePlatforms.forEach((item, index) => { if (preselectedPlatform === item.slug) { highlighIndex = index } });
                                each item, index in availablePlatforms
                                    li.language-selector__item
                                        a(href=`${req.path}?tech=${item.slug}`, data-icon=item.icon, class=`language-selector__link${index === highlighIndex ? ' language-selector__link--active' : ''}`) #{item.title}
                    if (introduction !== '<p><br></p>')
                        if (content.display_mode.value.length && content.display_mode.value[0].name.toLowerCase() === 'step-by-step')
                            h2.article__heading-introduction !{UIMessages && UIMessages.article___introduction.value}
                        | !{minify(introduction)}
                    include ../includes/table-of-contents.pug
                    | !{minify(content.content.value)}
                    if (nextSteps.value !== '<p><br></p>')
                        h2.table-of-contents__whatsnext !{UIMessages && UIMessages.article___next_steps.value}
                        | !{minify(nextSteps.value)}
                    include ../includes/feedback.pug