extends ../includes/layout.pug
mixin error(name)
    .form__error(data-form-error=name)
mixin input(type, id, label)
    div(class=`form__row${type === 'hidden' ? ' hidden' : ''}`)
        input.form__input(id=id, name=id, type=type)
        if label
            label.form__label(for=id) #{label}
        +error(id)
block content
    main(id='main')
        .article
            .article__left
                include ../includes/sub-navigation.pug
            .article__right
                .article__content 
                    h1 !{content.title.value}
                    | !{minify(content.content.value)}
                    .form
                        h2.form__heading !{UIMessages.certification_form___title.value}
                        form.form__certification
                            input#course_id(type='hidden', value=content.course_id.value)
                            +input('text', 'first_name', UIMessages.certification_form___first_name_field.value)
                            +input('text', 'last_name', UIMessages.certification_form___last_name_field.value)
                            +input('email', 'email', UIMessages.certificationform___email_field.value)
                            if (content.require_company.value[0].codename === 'true')
                                +input('text', 'custom_field_1', UIMessages.certificationform___company_field.value)
                            .form__row
                                .form__recaptcha-disabled
                                .g-recaptcha(data-sitekey=`${process.env['Recaptcha-v2.site']}`)
                                +error('g-recaptcha-response')
                            .form__row.form__row--btn
                                button.form__button !{UIMessages.certification_form___submit_button.value}
                        .form__success(data-form-success="")
                        .form__warning(data-form-warning="")
    if process.env['Recaptcha-v2.site']
        script(src=`https://www.google.com/recaptcha/api.js`)