extends ../includes/layout.pug
block content
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/instantsearch.css@7.3.1/themes/algolia-min.css')
    script(src='https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js' integrity='sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js' integrity='sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=' crossorigin='anonymous')
    script(src='/js/instantsearch.js' defer)
    .hero
        .hero__wrapper
            h1.hero__heading !{title}
            form.hero__search
                .hero__search-icon(aria-hidden='true')
                label.sr-only(for='nav-search') !{UIMessages && UIMessages.search___placeholder.value}
                input(type='search', id='nav-search', name='nav-search', autocomplete="off", placeholder= UIMessages && UIMessages.search___placeholder.value)
                #autocomplete
            div.hero__note-link(href="#") !{introNote}
    main(id='main').presentation
        #hits
        | !{minify(signposts)}
    aside.border-top
        .cta !{minify(support)}
        
    