<?xml version="1.0" encoding="UTF-8"?>
rss(version='2.0', xmlns:atom='http://www.w3.org/2005/Atom')
    channel
        | <atom:link href="!{req.protocol + '://' + req.get('Host')}/rss/articles" rel="self" type="application/rss+xml"></atom:link>
        title !{home.title.value}
        language en-us
        | <link>!{req.protocol + '://' + req.get('host')}</link>
        | <description><![CDATA[!{entities.decode(helper.stripTags(home.description.value).trim())}]]></description>
        each article in articles
            - var path = urlMap.filter((item) => { return item.codename === article.system.codename });
            if path.length
                item
                    title !{article.title.value}
                    pubDate !{moment(article.system.lastModified).format('ddd, DD MMM YY HH:mm:ss ZZ')}
                    atom:updated !{article.system.lastModified}
                    | <description><![CDATA[!{entities.decode(helper.stripTags(article.introduction.value).trim())}]]></description>
                    | <link>!{req.protocol + '://' + req.get('Host') + path[0].url}</link>
                    | <guid isPermaLink="false">!{req.protocol + '://' + req.get('Host') + path[0].url}</guid>