<?xml version="1.0" encoding="UTF-8"?>
rss(version='2.0', xmlns:atom='http://www.w3.org/2005/Atom')
    channel
        | <atom:link href="!{req.protocol + '://' + req.get('Host')}/rss/articles" rel="self" type="application/rss+xml"></atom:link>
        title !{home.title.value} - API Changelog
        language en-us
        | <link>!{req.protocol + '://' + req.get('host')}</link>
        | <description><![CDATA[!{entities.decode(helper.stripTags(home.description.value).trim())}]]></description>
        | !{changelog}
