<?xml version="1.0" encoding="UTF-8"?>
rss(version='2.0', xmlns:atom='http://www.w3.org/2005/Atom')
    channel
        | <atom:link href="!{domain}/rss/changelog" rel="self" type="application/rss+xml"></atom:link>
        title !{home.title.value} - !{title}
        language en-us
        | <link>!{domain}</link>
        | <description><![CDATA[!{entities.decode(helper.stripTags(home.description.value).trim())}]]></description>
        | !{changelog}
