extends ../includes/layout.pug
block content
    main(id='main')
        .article
            .article__left
                include ../includes/sub-navigation.pug
            .article__right
                .article__content
                    h1 !{content.title.value}
                    .article__notes
                        time.article__date(datetime= moment(content.system.lastModified).format('YYYY-MM-DD')) !{moment(content.system.lastModified).format('MMMM D, YYYY')}
                        .article__author
                            if (content.author && content.author.value.length)
                                | !{content.author.value[0].name.value}
                            else
                                | !{UIMessages.article___no_author.value}
                        if isPreview
                            a(href=`https://app.kontent.ai/goto/edit-item/project/${projectId}/variant-codename/default/item/${content.system.id}`, target='_blank', rel='noopener') Edit
                    if (introduction && introduction !== '<p><br></p>')
                        | !{minify(introduction)}
                    include ../includes/table-of-contents.pug
                    | !{minify(content.content.value)}
                    include ../includes/feedback.pug
