extends ../includes/layout.pug
block content
    main(id='main')
        .article
            .article__left
            .article__right
                .article__content 
                    h1 !{content.title.value}
                    .article__notes
                      span !{UIMessages.training___estimated_duration.value} !{content.duration.value} !{content.duration.value === 1 ? 'hour' : `hours`}
                      if (content.persona.value.length)
                        ul.article__tags
                          each item in content.persona.value
                            li.article__tags-item.article__tags-item--green !{item.name}
                      if (trainingCourseInfo.completion)
                        span !{trainingCourseInfo.completion}% complete
                    | !{minify(content.introduction.value)}
                    | !{minify(content.description.value)}
                    .article__row-links
                      a.call-to-action(href= trainingCourseInfo.url, target= trainingCourseInfo.target ? trainingCourseInfo.target : '_self')
                        span !{trainingCourseInfo.text}
                        span
                      if (trainingCourseInfo.certificate)
                        a.link(href= trainingCourseInfo.certificate, target='_blank') !{UIMessages.training___download_certificate.value}
                      if (trainingCourseInfo.signedIn)
                        a.link(href='/logout') !{UIMessages.sign_out_button.value}