extends ../includes/layout.pug
block content
    main(id='main')
        .article
            .article__left
                include ../includes/sub-navigation.pug
            .article__right
                .article__content
                    if isPreview
                        .article__edit
                            a(href=`https://app.kenticocloud.com/goto/edit-item/project/${projectId}/variant-codename/default/item/${content.system.id}`, target='_blank', rel='noopener') Edit
                    h1 !{content.title.value}
                    .article__notes
                        time.article__date(datetime= moment(content.system.lastModified).format('YYYY-MM-DD')) !{moment(content.system.lastModified).format('MMMM D, YYYY')}
                        .article__author !{content.author[0].name.value}
                    if (introduction !== '<p><br></p>')
                        | !{minify(introduction)}
                    include ../includes/table-of-contents.pug
                    | !{minify(content.content.value)}
                    if nextSteps.value
                        h2 Next steps
                        | !{minify(nextSteps.value)}