extends ../includes/layout.pug
block content
    main(id='main')
        .article
            .article__left
                include ../includes/sub-navigation.pug
            .article__right
                .article__content
                    h1 !{content.title.value}
                    .article__notes
                        time.article__date(datetime= moment(content.system.lastModified).format('YYYY-MM-DD')) !{moment(content.system.lastModified).format('MMMM D, YYYY')}
                        .article__author 
                            if (content.author && content.author.length)
                                | !{content.author[0].name.value}
                            else
                                | !{UIMessages.article___no_author.value}
                        if isPreview 
                            a(href=`https://app.kenticocloud.com/goto/edit-item/project/${projectId}/variant-codename/default/item/${content.system.id}`, target='_blank', rel='noopener') Edit
                    if (introduction !== '<p><br></p>')
                        | !{minify(introduction)}
                    include ../includes/table-of-contents.pug
                    | !{minify(content.content.value)}
                    if (nextSteps.value !== '<p><br></p>')
                        h2.table-of-contents__whatsnext !{UIMessages.article___next_steps.value}
                        | !{minify(nextSteps.value)}
                    if UIMessages
                        .feedback
                            h2.feedback__heading !{UIMessages.feedback_form___heading.value}
                            .feedback__answer
                                button.feedback__button.feedback__button--yes !{UIMessages.feedback_form___yes_button.value}
                                button.feedback__button.feedback__button--no !{UIMessages.feedback_form___no_button.value}
                            .feedback__response
                                .feedback__message.feedback__message--yes !{UIMessages.feedback_form___yes_message.value}
                                .feedback__message.feedback__message--no !{UIMessages.feedback_form___no_message.value}


