extends ../includes/layout.pug
block content
    main(id='main')
        .article
            .article__left
                include ../includes/sub-navigation.pug
            .article__right
                .article__content
                    if isPreview
                        .article__edit
                            a(href=`https://app.kenticocloud.com/goto/edit-item/project/${projectId}/variant-codename/default/item/${content.system.id}`, target='_blank', rel='noopener') Edit
                    h1 !{content.title.value}
                    | !{minify(introduction)}
                    include ../includes/table-of-contents.pug
                    | !{minify(content.content.value)}
                